.transition-enter {
    transform: scale(0);
    background: rgba(36, 123, 160, 0.7);
  }
  .transition-enter-active {
    transform: scale(1);
    background: rgba(36, 123, 160, 0.7);
  

  }

  .transition-exit-active {
    transform: scale(0);
  }
