.list {
  margin:auto ;
  border:2px solid black;

padding:20px;
}
#input{
  margin:30px;
}
button
{
}
#btn{
  margin:10px;
}
.btn{
  margin:auto;
}
table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}
.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  padding:20px;
  background-color: papayawhip;
}